@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');

.App {
  max-width: 768px;
  margin: 0 auto;
  display: block;
  font-family: 'Montserrat', sans-serif;
}